<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<hr/>

<% unless @book.available? %>
  <p> <strong>Current borrower :</strong>
    <%= link_to user_path(@book.current_borrower) do %>
      <%= @book.current_borrower.firstname %> <%= @book.current_borrower.lastname %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
