<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @loan.user.firstname %>
</p>

<p>
  <strong>Book:</strong>
  <%= @loan.book.title %>
</p>

<p>
  <strong>Borrow date:</strong>
  <%= @loan.borrow_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @loan.return_date %>
</p>

<%= link_to 'Back', loans_path %>
